<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="collection" label="COM_SIMPLESTATS_CONFIG_COLLECTION">
		<field name="enabled" type="radio" layout="joomla.form.field.radio.switcher" default="1" label="COM_SIMPLESTATS_CONFIG_ENABLED">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="respect_dnt" type="radio" layout="joomla.form.field.radio.switcher" default="1" label="COM_SIMPLESTATS_CONFIG_RESPECT_DNT" description="COM_SIMPLESTATS_CONFIG_RESPECT_DNT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="track_authenticated" type="radio" layout="joomla.form.field.radio.switcher" default="1" label="COM_SIMPLESTATS_CONFIG_TRACK_AUTHENTICATED" description="COM_SIMPLESTATS_CONFIG_TRACK_AUTHENTICATED_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="excluded_user_ids" type="text" default="" label="COM_SIMPLESTATS_CONFIG_EXCLUDED_USER_IDS" description="COM_SIMPLESTATS_CONFIG_EXCLUDED_USER_IDS_DESC" />
		<field name="exclude_components" type="text" default="com_ajax,com_users,com_simplestats" label="COM_SIMPLESTATS_CONFIG_EXCLUDE_COMPONENTS" description="COM_SIMPLESTATS_CONFIG_EXCLUDE_COMPONENTS_DESC" />
		<field name="exclude_paths" type="textarea" rows="6" default="/administrator&#10;/api" label="COM_SIMPLESTATS_CONFIG_EXCLUDE_PATHS" description="COM_SIMPLESTATS_CONFIG_EXCLUDE_PATHS_DESC" />
		<field name="store_query" type="radio" layout="joomla.form.field.radio.switcher" default="0" label="COM_SIMPLESTATS_CONFIG_STORE_QUERY" description="COM_SIMPLESTATS_CONFIG_STORE_QUERY_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="privacy" label="COM_SIMPLESTATS_CONFIG_PRIVACY">
		<field name="retention_days" type="number" default="180" min="1" max="3650" label="COM_SIMPLESTATS_CONFIG_RETENTION_DAYS" description="COM_SIMPLESTATS_CONFIG_RETENTION_DAYS_DESC" />
		<field name="cleanup_probability" type="number" default="2" min="0" max="100" label="COM_SIMPLESTATS_CONFIG_CLEANUP_PROBABILITY" description="COM_SIMPLESTATS_CONFIG_CLEANUP_PROBABILITY_DESC" />
		<field name="trusted_ip_header" type="text" default="" label="COM_SIMPLESTATS_CONFIG_TRUSTED_IP_HEADER" description="COM_SIMPLESTATS_CONFIG_TRUSTED_IP_HEADER_DESC" />
	</fieldset>
	<fieldset name="dashboard" label="COM_SIMPLESTATS_CONFIG_DASHBOARD">
		<field name="dashboard_activity_rows" type="number" default="8" min="0" max="100" label="COM_SIMPLESTATS_CONFIG_DASHBOARD_ACTIVITY_ROWS" description="COM_SIMPLESTATS_CONFIG_DASHBOARD_ACTIVITY_ROWS_DESC" />
	</fieldset>
	<fieldset name="country" label="COM_SIMPLESTATS_CONFIG_COUNTRY">
		<field name="country_detection" type="list" default="local_dbip" label="COM_SIMPLESTATS_CONFIG_COUNTRY_DETECTION" description="COM_SIMPLESTATS_CONFIG_COUNTRY_DETECTION_DESC">
			<option value="disabled">COM_SIMPLESTATS_CONFIG_COUNTRY_DISABLED</option>
			<option value="local_dbip">COM_SIMPLESTATS_CONFIG_COUNTRY_LOCAL_DBIP</option>
			<option value="header">COM_SIMPLESTATS_CONFIG_COUNTRY_HEADER</option>
		</field>
		<field name="trusted_country_header" type="text" default="HTTP_CF_IPCOUNTRY" label="COM_SIMPLESTATS_CONFIG_TRUSTED_COUNTRY_HEADER" description="COM_SIMPLESTATS_CONFIG_TRUSTED_COUNTRY_HEADER_DESC" />
	</fieldset>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" filter="rules" validate="rules" component="com_simplestats" section="component" />
	</fieldset>
</config>
